-if session[:phone]
  %h3
    Logged in as
    =session[:phone]
  -if opentransact_token
    %p
      Your phone is linked with
      %a{:href=>ENV["OPENTRANSACT_URL"]}= ENV["OPENTRANSACT_URL"]
  -else
    %p
      %a{:href=>"/link"} Link PicoMoney
  %p
    %form{:action=>"/logout", :method=>:post}
      %button Logout
-else
  %form{:action=>"/register",:method=>:post}
    %fieldset
      %legend Register your Phone
      %p
        %label{:for=>"phone"} Enter phone number
        %input{:type=>"tel", :name=>"phone", :autofocus=>true, :value=>@phone, :size=>10}
      %p
        %button Register

%h4
  =$redis.get("payments")||0
  payments made totaling
  =$redis.get("payments_amount")||0
  %a{:href=>ENV["OPENTRANSACT_URL"]}= ENV["OPENTRANSACT_NAME"]
:textile
  PaySMS allows you to send money via text messages (SMS). It is created using "OpenTransact":http://opentransact.org and is released as "open source":https://github.com/opentransact/paysms on GitHub.
  
  This installation currently transfers "#{ENV["OPENTRANSACT_NAME"]}":#{ENV["OPENTRANSACT_URL"]}.
  
  