!!! 5
%html{:lang=>'en',"xmlns:g"=>"http://www.w3.org/2000/svg"}
  %head
    %title PayS.MS
    
    /[if IE]
      %script{:src=>"http://html5shim.googlecode.com/svn/trunk/html5.js"}
    %link{:rel=>"stylesheet", :media=>"all", :href=>"/stylesheets/screen.css"}
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1, maximum-scale=1"}
  %body
    %h1 
      %a{:href=>"/"} PayS.MS
    %h2 Mobile payments for OpenTransact
  
    = yield